@import "../css/variables";

.containerBase {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

@media (max-width: $mobile) {
  .containerBase {
    max-width: $mobile;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: $mobile) {
  .containerBase {
    max-width: $desktop
  }
}