@import "../css/variables";

.card {
  width: 100%;
}

.img {
  width: inherit;
  min-height: 164px;
}

@media (max-width: $mobile) {
  .img {
    width: 100%;
  }
}

@media (min-width: $mid) {
  .img {
    min-height: 240px;
  }
}
