@import "../../components/ui/css/variables";

.flexContainer {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.flexItem {
  display: inline-flex;
  width: auto;
}

.locationContainer {
  flex: 1;
  flex-flow: column;
}

.flexAlignedRight {
  margin-left: auto;
  order: 2;
}

@media (min-width: $mobile) {
  .flexContainer {
    max-width: $mobile;
  }
}

@media (min-width: $desktop) {
  .flexContainer {
    flex-flow: row;
  }
}