@import "../css/variables";

.accentedHeader {
  background-color: $primary;
  min-height: 156px;
  display: flex;
  align-items: center;
}

@media (max-width: $mobile) {
  .accentedHeader {
    min-height: 200px;
  }
}
