// Colours
$primary: #00ccbc;
$secondary: #00a396;
$white: #fff;
$black: #000;
$text: #2e3333;
$faded: #828585;

// Fonts

$font-primary: plex-sans, sans-serif;
$base-font-size: 14px;
$base-font-weight: 400;

// Breakpoints
$desktop: 1126px;
$mobile: 660px;

// General
$spacer-height: 10px;
