@import "./app/components/ui/css/variables";

// Setup some globals

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-primary;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
}

.Home {
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

